[Desktop Entry]
Encoding=UTF-8
Exec=lxterminal --command="php /path/to/PhotoEditor/photoeditor.wxphp"
Icon=/path/to/PhotoEditor/icons/photoeditor.png
Name=PhotoEditor
Categories=Graphics;
Type=Application
